@using TestingSystem.Models
@{
    Layout = "_Master";
}
@model List<Course>

<input id="firstName" type="text" placeholder="Имя" />
<input id="lastName" type="text" placeholder="Фамилия" />
<button id="create">Create diagram</button>
<select>
    @for (int i = -1; i < Model.Count; i++)
    {
        if (i == -1)
        {
            <option value="-1">Выберите предмет</option>
        }
        else
        {
            <option value="@Model[i].Id">@Model[i].ShortName</option>
        }
    }
</select>

<div class="table" style="display: none;">
    <table>
        <thead>
            <tr>
                <th>Имя Фамилия</th>
                <th>UPR</th>
                <th>CHL</th>
                <th>POL</th>
                <th>Качество</th>
            </tr>
        </thead>
        <tr>
            <td></td>
        </tr>
    </table>
</div>
<script>
    var charts = [];

    function drawLines(chartsCount) {
        var leftContainer = $('#left-container');
        var chartHeight = $('#chart0').parent().height();
        var step = chartHeight / 2;
        for (var i = 0; i < chartsCount; i++) {
            const line = $(document.createElementNS("http://www.w3.org/2000/svg", "line")).attr({
                x1: 0,
                y1: leftContainer.height() / 2,
                x2: $('#center-container').width(),
                y2: step,
                style: 'stroke: black;stroke-width: 1;'
            });
            $('#center-container svg').append(line);
            step += chartHeight + (60 / (chartsCount - 1));
        }
    }

    function destroyCharts() {
        for (var i = 0; i < charts.length; i++) {
            charts[i].destroy();
        }
        charts = [];
    }

    function createCanvas(count) {
        const container = $('#container1');
        if (container !== undefined) {
            container.remove();
        }
        $('.table').after('<div id="container1"></div>');
        $('#container1').append('<div id="left-container"></div>');
        $('#left-container').append('<div class="chart-container"><canvas id="chart' + (count) + '"></canvas></div>');
        $('#container1').append('<div id="center-container"></div>');
        $('#center-container').append('<svg></svg>');
        $('#container1').append('<div id="right-container"></div>');
        for (var i = 0; i < count; i++) {
            $('#right-container').append('<div class="chart-container"><canvas id="chart' + i + '"></canvas></div>');
        }
        $('#container1').height($('.chart-container').height() * count + 60);
        $('#center-container').width($('#container1').width() - 2 * $('#left-container').width());
    }

    function createCharts(count, matrix) {
        createCanvas(count);
        destroyCharts();
        for (var i = 0; i < count + 1; i++) {
            let chart = new Chart($('#chart' + i)[0].getContext('2d'), {
                type: 'radar',
                data: {
                    labels: ['UPR', 'CHL', 'POL'],
                    datasets: [{
                        backgroundColor: 'rgb(4,124,182)',
                        data: [matrix[i][0], matrix[i][1], matrix[i][2]]
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scale: {
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 1.2,
                            stepSize: 0.1
                        }
                    },
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: '1.' + (i + 1),
                        fontSize: 14
                    }
                }
            });
            charts.push(chart);
        }
        charts[count].options.title.text = 'Успех студента';
        drawLines(count);
    }

    function createTable(matrix, chartsCount) {
        const firstName = $('#firstName').val();
        const lastName = $('#lastName').val();
        $('.table').show();
        $('.table tbody tr td:first').append(firstName + ' ' + lastName);
        $('.table tbody tr:first').append('<td>' + Math.round(matrix[chartsCount][0] * 1000) / 1000 + '</td>');
        $('.table tbody tr:first').append('<td>' + Math.round(matrix[chartsCount][1] * 1000) / 1000 + '</td>');
        $('.table tbody tr:first').append('<td>' + Math.round(matrix[chartsCount][2] * 1000) / 1000 + '</td>');
        $('.table tbody tr:first').append('<td>' + Math.round(matrix[chartsCount][3] * 1000) / 1000 + '</td>');
    }

    function fillTable(matrix, chartsCount) {
        if (!$('.table').is(':visible')) {
            createTable(matrix, chartsCount);
        }
        else {
            $('.table tbody tr > td:nth-child(1)').html($('#firstName').val() + ' ' + $('#lastName').val());
            $('.table tbody tr > td:nth-child(2)').html(Math.round(matrix[chartsCount][0] * 1000) / 1000);
            $('.table tbody tr > td:nth-child(3)').html(Math.round(matrix[chartsCount][1] * 1000) / 1000);
            $('.table tbody tr > td:nth-child(4)').html(Math.round(matrix[chartsCount][2] * 1000) / 1000);
            $('.table tbody tr > td:nth-child(5)').html(Math.round(matrix[chartsCount][3] * 1000) / 1000);
        }
    }

    $('#create').click(function () {
        if ($('select').val() != -1) {
            $.ajax({
                async: true,
                type: 'GET',
                url: '/diagram/getRandomData',
                data: { firstName: $('#firstName').val(), lastName: $('#lastName').val(), courseId: $('select').val() },
                success: function (response) {
                    fillTable(response.matrix, response.chaptersCount);
                    createCharts(response.chaptersCount, response.matrix);
                },
                error: function (jqXHR, ajaxOptions, message) {
                    if (jqXHR.status === 404)
                        alert(jqXHR.responseJSON.message);
                }
            });
        }
    });
</script>