<div style="padding: 20px;">
	<a asp-action="StudentDiagram" asp-controller="Diagram" class="link-btn">Показатели студента</a>
	<a asp-action="GroupDiagram" asp-controller="Diagram" class="link-btn">Показатели группы</a>
</div>
