<div style="width:200px;height:200px;">
	<img src="~/images/q-u-i-giL2fHNr3Lc-unsplash.jpg" alt="Alternate Text" style="width: 100%" />
</div>
<div style="width:200px;height:200px;">
	<img src="~/images/tony-yakovlenko-lDxxeAJrWpE-unsplash.jpg" alt="Alternate Text" style="width: 100%"/>
</div>
<h3>testing <img src="~/images/Untitled.png" alt="Alternate Text" style="display: inline-block" /> image</h3>
@if(1 < 2)
{
	var a = "<h1>Helo</h1>";
	@Html.Raw(a);
}