<div style="padding: 20px">
	<a asp-action="SelectCourse" asp-controller="Home" class="link-btn">Пройти тестирование</a>
	<a asp-action="Index" asp-controller="Diagram" class="link-btn">Построить диаграмму</a>
</div>