@using TestingSystem.Models
@{
    Layout = "_Master";
}
@model List<Course>

<ul>
@for (int i = 0; i < Model.Count; i++)
{
        <li><a asp-action="StartTesting" asp-controller="Home" asp-route-courseId="@Model[i].Id">@Model[i].FullName</a></li>
}
</ul>