*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chart-container{
    width: 300px;
    height: 300px;
    display: none;
}

.table > table, th, td{
    border: 1px solid black;
}

.table > table{
    border-collapse: collapse;
}

.table{
    display: none;
}

.table td, .table th{
    padding: 0 10px;
    text-align: center;
}

#container1{
    display: flex;
    flex-direction: row;
    border: solid red;
    padding: 30px;
    width: 100%
}

#left-container, #right-container{
    width: 300px;
}

#left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#center-container {
    height: 100%;
}

.chart-container{
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    border-radius: 35%;
}

#lines{
    width: 100%;
    height: 100%;
}

svg{
    width: 100%;
    height: 100%;
}

#hints p{
    font-size: 20px;
}