@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Consolas;
    font-size: 20px;
}

#chart-container{
    width: 300px;
    height: 300px;
    display: none;
}

.table > table, th, td{
    border: 1px solid black;
}

.table > table{
    border-collapse: collapse;
}

.table{
    display: none;
    padding: 5px 20px;
}

.table td, .table th{
    padding: 0 10px;
    text-align: center;
}

#container1{
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 100%
}

#left-container, #right-container{
    width: 300px;
}

#left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#center-container {
    height: 100%;
}

.chart-container{
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    border-radius: 35%;
}

#lines{
    width: 100%;
    height: 100%;
}

svg{
    width: 100%;
    height: 100%;
}

#hints p{
    font-size: 20px;
}

.block{
    padding: 10px;
}

.testing-container1{
    padding: 15px;
}

#submit-btn{
    margin-left: 10px;
}

#container2{
    width: 900px;
    height: 600px;
}
.list-container{
    padding: 25px;
}

.link-btn{
    background-color: black;
    padding: 0.5em 1em;
    color: white;
    font-size: 20px;
    font-family: Consolas;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-family: Consolas;
    font-size: 20px;
    color: rgb(32, 139, 171);
}

a:hover:not(.link-btn){
    text-decoration: underline
}

ul{
    list-style-type: none;
}

input[type=text], select{
    height: 25px;
    font-size: 18px;
    font-family: inherit;
    padding: 0 3px;
    outline: none;
}

.button{
    background-color: black;
    color: white;
    padding: 0.3em 1.2em;
    font-family: inherit;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.block label{
    font-size: 18px;
    padding: 10px 0px;
}

h3{
    vertical-align: middle;
}
